%h2 Device:
- if @device
  %br!= "identifier: #{@device.identifier}"
  %br!= "locate enabled: #{@device.locate_enabled}"
  %br!= link_to "# of locations: #{@device.locations.size}", device_location_path(@device.identifier, nil)
  %p
    != render :partial => 'locations/location_history'
- else 
  No such device

