%h2 Device:
- if @device
  %br!= "identifier: #{@device.identifier}"
  %br!= "locate enabled: #{@device.locate_enabled}"
  %br!= "# of locations: #{@device.locations.size}"
  %p
    != render :partial => 'locations/location_history'
- else 
  No such device

